{% assign preloaded = false %}

{% if post_collection != null and post_collection.size > 0 %}
    {% assign preloaded = true %}
{% endif %}

<html>
    {% render 'head', title: site_name %}
    <body>
        {% if preloaded == false %}
            {% render 'component_loading' %}
        {% endif %}
        {% render 'component_header', site_name: site_name %}
        {% render 'component_content', site_name: site_name, post_collection: post_collection %}
        {% render 'component_sidebar' languages: languages, user_collection: user_collection %}
        <div class="bg-container">
            <div class="clouds"></div>
        </div>
        <script src="/script.js"></script>
        {% if preloaded == false %}
            <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.browser.min.js"></script>
            {% render 'script_loader' %}
        {% endif %}
    </body>
</html>