<div id="loading" class="loading-modal">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script>
    let loadingModal = document.getElementById("loading");
    loadingModal.style.display = "flex";
</script>