{% for post in post_collection %}
    <div class="user-content">
        <div class="image-container">
            {% if post.preview != null and post.preview.images[0].resolutions[0].url != null %}
                {% if post.preview.images[0].source.url != null %}
                    <a href="{{ post.preview.images[0].source.url }}">
                        <img src="{{ post.preview.images[0].resolutions[0].url }}" width=75>
                    </a>
                {% else %}
                    <img src="{{ post.preview.images[0].resolutions[0].url }}" width=75>
                {% endif %}
            {% else %}
                <img src="https://via.placeholder.com/75" height=75>
            {% endif %}
        </div>
        <div class="user-content-main">
            <a href="{{ post.url }}">{{ post.author_fullname }}</a>
            <span>{{ post.title }}</span>
        </div>
        <p class="user-content-time">posted on the {{ post.created | floor | date: "%d of %B, %Y at %H:%M" }}</p>
    </div>
    <hr/>
{% endfor %}
<div class="pagination">
    <span><a id="next" href="#">Next</a></span>
    <span><i>Previous</i></span>
</div>