<div id="user-container" class="user-container">
    {% for user in user_collection %}
        <a href="#">
            <div class="user">
                <img src="https://via.placeholder.com/40" width=40 height=40>
                <span>{{ user.author_fullname }}</span>
            </div>
        </a>
    {% endfor %}
</div>