<div class="header">
    <div class="logo">
        <a href="/">
            <img src="/logo.png" height="87">
        </a>
    </div>
    <div class="signup">
        <button>Login Join {{ site_name }}</button>
    </div>
</div>