<div class="sidebar">
    <h3>Create Your Account</h3>
    <button>Join!</button>
    <p>
        Already using {{ site_name }} from your phone? <a id="already-using" href="#">Click here.</a>
    </p>
    <select name="language" id="lang-select">
        <option value="" disabled selected>Select Language...</option>
        {% for lang in languages %}
            <option value="{{ lang }}">{{ lang }}</option>
        {% endfor %}
    </select>
    {% render 'component_user_collection' user_collection: user_collection %}
</div>