<div class="content">
    <hr/>
    <div class="stream-header">
        <h2>Recent Public Tweeps</h2>
        <h3>What everyone on {{ site_name }} is talking about!</h3>
    </div>
    <hr/>
    <div id="tweep-container" class="tweep-container">
        {% render 'component_post_collection', post_collection: post_collection %}
    </div>
</div>