<head>
    <title>{{ title }}</title>
    <meta name="author" content="David McLaughlin">
    <meta name="description" content="Hedgeye exercise">
    <link rel="stylesheet" href="/style.css">
</head>