<script>
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let posts = JSON.parse(xhttp.responseText);
            let Liquid = window.liquidjs.Liquid
            let engine = new Liquid();

            let users = posts.map(item => {
                return { author_fullname: item.author_fullname };
            });

            engine.parseAndRender(`{% render_raw 'component_post_collection' %}`, { post_collection: posts })
            .then(function(html) {
                document.getElementById("tweep-container").innerHTML = html;
            });

            engine.parseAndRender(`{% render_raw 'component_user_collection' %}`, { user_collection: users })
            .then(function(html) {
                document.getElementById("user-container").outerHTML = html;
            });

            clearLoadingModal();
        } else if (this.status > 299) {
            document.getElementById("tweep-container").innerHTML = "<p>Failed to load tweeps, please reload the page</p>";
            document.getElementById("user-container").innerHTML = "<p>Failed to load users, please reload the page</p>";
            clearLoadingModal();
        }
    };

    setTimeout(() => {
        xhttp.open("GET", "/api/v1/posts", true);
        xhttp.send();
    }, 1 /* increase this to simulate content loading delay */ );

    function clearLoadingModal() {
        let loadingModal = document.getElementById("loading");
        loadingModal.style.display = "none";
    }
</script>