@import 'global-layout';
@import 'global-theme';

$button-text-color: $bg-dark;
$button-border-color: gray;
$button-bg-color: white;

.header {
    grid-area: unquote($layout-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        margin: 1em;
    
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                max-height: 6em;
            }
        }
    }
    
    .signup {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        button {
            margin: 1em;
            height: 2.5em;
            color: $button-text-color;
            background-color: $button-bg-color;
            border: 1px solid $button-border-color;
            cursor: pointer;
        }
    }
}