@import 'global-theme';
@import 'global-layout';

$content-bg-color: white;
$content-hr-primary-color: black;
$content-hr-secondary-color: gray;
$content-hr-tertiary-color: lightgray;
$content-border-middle: #b9d3dd;

.content {
    padding: 0 2em;
    grid-area: unquote($layout-content);
    background-color: $content-bg-color;
    border-top: 1px solid $content-border;
    border-left: 1px solid $content-border;
    border-bottom: 1px solid $content-border;
    border-right: 1px solid $content-border-middle;
  
    // We want the first hr to be a bit bigger and darker with a little more space around it
    & > hr:nth-of-type(1) {
        margin: 1em 0;
        height: 0.1em;
        background-color: $content-hr-primary-color;
    }

    & > hr {
        background-color: $content-hr-secondary-color;
    }

    .tweep-container {
        overflow-y: auto;
        min-height: 50vh;
        position: relative;
        padding-bottom: 2.5em;
    
        hr {
          margin: 1em 0;
          border-color: $content-hr-tertiary-color;
        }
    }
}

// Creates the little triangle feature above the main content container
.content:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -15px;
    width: 0;
    border-bottom: 15px solid $content-bg-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}