@import 'global-layout';
@import 'global-theme';

$sidebar-bg: #daeef6;

$button-text: white;
$button-border: #3f3f3f;
$button-background: #2E7596;

$user-container-bg: white;
$user-container-border: green;

.sidebar {
    grid-area: unquote($layout-sidebar);
    background-color: $sidebar-bg;
    border-top: 1px solid $content-border;
    border-right: 1px solid $content-border;
    border-bottom: 1px solid $content-border;
    padding: 0.5em 1em;
    max-width: 16em;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;

    h3 {
        font-weight: bold;
        color: $text-secondary;
    }
    
    button {
        color: $button-text;
        border: 2px solid $button-border;
        background-color: $button-background;
        font-weight: bolder;
        font-size: 1.1em;
        width: 70%;
        height: 2.5em;
        margin: auto;
    }
    
    p {
        padding: 1em;
        text-align: center;
    }
    
    select {
        height: 2em;
        margin: 1.5em;
    }
}