@import 'component-content';

.user-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  
    .user-content-main {
        padding: 0.5em 1em;
        font-size: 1.25em;
    
        a {
            text-decoration: none;
        }
    }
  
    p {
        color: $text-secondary;
        font-size: 1rem;
        grid-column: 2/3;
        padding: 0.5em 1em 0 1em;
        margin: 0;
        margin-top: auto;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 75px;
        grid-row: 1/3;

        img {
            min-width: 75px;
            max-height: 150px;
            border: 1px solid $content-hr-tertiary-color;
        }
    }
}

.pagination {
    padding: 0 0 1.25em 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    span {
        margin: 0 1.5em;
    }

    & > span:nth-of-type(1) {
        float: right;
    }
}