.user-container {
    border: 2px solid $user-container-border;
    background-color: $user-container-bg;
    overflow-y: auto;
    height: max-content;
    min-height: 3em;
    max-height: 90vh; // Ideally this wouldn't expand past the main tweet container
  
    img {
        vertical-align: middle;
    }
  
    a {
        text-decoration: none;
    }

    * > .user {
        margin: 1em 0.5em;
    }
}