@import 'global-theme';
@import 'global-layout';

body {
    height: auto;
    padding: 0 1em;
    margin: 0;
    background-color: $bg-primary;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto 6fr 20px;
    grid-template-areas: 
      "#{$layout-header} #{$layout-header}"
      "#{$layout-content} #{$layout-sidebar}"
      "#{$layout-footer} #{$layout-footer}";
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    z-index: -1;
    overflow: hidden;
    padding-top: 4em; // this is to prevent the 'cloud' background from moving too far up when the user resizes their browser window vertically

    .clouds {
        background: $bg-light;
        border-radius: 0 10px 0 0;
        height: 100%;
        position: relative;
        top: 25%;
    }
    
    .clouds:after, .clouds:before {
        content: '';
        position: absolute;
        z-indeX: -1;
    }
    
    .clouds:after {
        background: $bg-light;
        border-radius: 100px;
        height: 100px;
        width: 30px;
        left: -10px;
        top: -50px;
    }
    
    .clouds:before {
        background: $bg-medium;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        right: -4px;
        top: -10px;
    }
}